*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(90deg, #1746A2, #5F9DF7);
    height: 100vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background-color: #212e41;
    border: none;
    color: #ffffff;
}

button:hover{
    background: rgb(116, 111, 111);
}

#button-zero{
    width: 106px;
}

#button-igual{
    height: 106px;
}

#resultado{
    width: 207px;
    height: 30px;
    background-color: #ffffff;
    margin: 5px;
    font-size: 25px;
    color: rgba(0, 0, 0);
    text-align: right;
    padding: 5px;
}